<div>
    <div class="container">
        <div class="row castomers d-c">
            <h2>OUR HAPPY CUSTOMERS</h2>
            <div class="wsd-gal castomer-gallary" id="wsd-gal" data-during="500">
                <div class="cm-gal-arrows">
                    <button class="btn-gall-arrow gal-btn-left"><img src="img/icon/arrow-left.svg" alt="" id="gal-btn-left"></button>
                    <button class="btn-gall-arrow gal-btn-right"><img src="img/icon/arrow-right.svg" alt="" id="gal-btn-right"></button>
                </div>
                <div class="gal-items" id="cast-gal-items">
                    <div class="gal-item cm-item card-rownd card-blur">
                        <div class="cm-stars">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                        </div>
                        <h3 class="cm-name">Sarah M.<span class="ico-ok"><img src="img/icon/ok.svg" alt=""></span></h3>
                        <p class="cm-comment">"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>  <div class="gal-item cm-item card-rownd">
                        <div class="cm-stars">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                        </div>
                        <h3 class="cm-name">Sarah M.<span class="ico-ok"><img src="img/icon/ok.svg" alt=""></span></h3>
                        <p class="cm-comment">"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div><div class="gal-item cm-item card-rownd">
                        <div class="cm-stars">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                        </div>
                        <h3 class="cm-name">Alex K.<span class="ico-ok"><img src="img/icon/ok.svg" alt=""></span></h3>
                        <p class="cm-comment">"Finding clothes that align with my personal style used to be a challenge until I discovered Shop.co. The range of options they offer is truly remarkable, catering to a variety of tastes and occasions.”</p>
                    </div><div class="gal-item cm-item card-rownd">
                        <div class="cm-stars">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                        </div>
                        <h3 class="cm-name">James L.<span class="ico-ok"><img src="img/icon/ok.svg" alt=""></span></h3>
                        <p class="cm-comment">"As someone who's always on the lookout for unique fashion pieces, I'm thrilled to have stumbled upon Shop.co. The selection of clothes is not only diverse but also on-point with the latest trends.”</p>
                    </div><div class="gal-item cm-item card-rownd card-blur">
                        <div class="cm-stars">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                            <img src="img/icon/star.svg" alt="">
                        </div>
                        <h3 class="cm-name">Mooen<span class="ico-ok"><img src="img/icon/ok.svg" alt=""></span></h3>
                        <p class="cm-comment">"As someone who's always on the lookout for unique fashion pieces, I'm thrilled to have stumbled upon Shop.co. The selection of clothes is not only diverse but also on-point with the latest trends.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>