<!-- companies.html -->
<div class="companies" id="companies">
    <div class="container" data-aos="zoom-in-down">
        <div class="companies__main">
            <img src="/img/icon/company1.svg#icon--company1" alt="company">
            <img src="/img/icon/company2.1.svg#icon--company2" alt="company">
            <img src="/img/icon/company3.svg#icon--company3" alt="company">
            <img src="/img/icon/company4.svg#icon--company4" alt="company">
        </div>
    </div>
</div>
<!-- / companies.html -->
