
            <div class="container first_wrapp">
                <div class="first__main">
                    <!-- @ @include('html/components/first_main.html') -->
                    <div class="first__item">
                        <h1 class="h1" data-aos="fade-right">
                            Explore, Buy and Sell the 
                            <span>Best NFTs!</span>
                        </h1>
                        <div class="first__btns" data-aos="fade-right">
                            <btton class="first__btn">Explore</btton>
                            <btton class="first__btn2">Create</btton>
                        </div>
                        <div class="first__numbers" data-aos="fade-right">
                            <p>Вёрстка. Вариант 1.</p>
                        </div>
                        <div class="first__numbers" data-aos="fade-right">
                            <div class="first__number">
                                32k+
                                <p>Artworks</p>
                            </div>
                            <div class="first__number">
                                20k+
                                <p>Auctions</p>
                            </div>
                            <div class="first__number">
                                12k+
                                <p>Creators</p>
                            </div>
                        </div>
                    </div>
                    <div class="first__nft" data-aos="fade-up">
                        <div class="first-nft__header">
                            <div class="dd">
                                <p class="nft-header__title">Current bid</p>
                                <p class="nft-header__numbers">0.99 ETH</p>
                            </div>
                            <div class="ccc">
                                <p class="nft-header__title">Ends in</p>
                                <p class="nft-header__numbers">25 hrs</p>
                            </div>
                        </div>
                        <div class="first-nft__footer">
                            <div class="nft-footer">
                                <p class="nft-footer__title">Artist</p>
                                <p class="nft-footer__nick">@wzard</p>
                            </div>
                            <div class="">
                                <button class="nft-footer__btn">Start Bid</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="first__numbers first__numbers_2" data-aos="fade-right">
                    <div class="first__number">
                        32k+
                        <p>Artworks</p>
                    </div>
                    <div class="first__number">
                        20k+
                        <p>Auctions</p>
                    </div>
                    <div class="first__number">
                        12k+
                        <p>Creators</p>
                    </div>
                </div>
            </div>
            <a class="first__arrow-btn" href="#companies">
                <img src="/img/icon/arrow-down.svg#icon--arrow-down" alt="">
            </a>
