
<nav class="header__inner--mob">
    <div class="header__links">
        <a href="#categories" class="header__link active">Explore</a>
        <a href="#creators" class="header__link">Creators</a>
        <a href="#subscribe" class="header__link">Community</a>
        <a href="./stack/sprite.stack.html" target="_blank" class="header__link">SVG stack</a>
    </div>
    <button class="header__btn">Connect Wallet</button>
</nav>
<button class="header__burger"><img src="/img/icon/burger.svg" alt="burger"></button>
<button class="header__burger--close"><img src="/img/icon/close_copy_3.svg" alt="burger"></button>